# Gradle
.gradle/
build/
**/build/

# Android / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
out/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Misc
shelf/
httpRequests/

# Local machine / debug artifacts
*.hprof
.bash_history
.emulator_console_auth_token
.gitconfig
