<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Debug: permite HTTP hacia la IP de tu PC en la LAN (además de network_security_config principal). -->
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />

</manifest>
